body {
   color: White;
   background: Black;
}
.d1 {
   line-height: 2.5;
   margin-top: 15px;
}
.d2 {
/*    line-height: 3; */
}
#ico {
   width: 60px;
   height: 60px;
}
input {
   color: White;
   background: Black;
   width: 180px;
   height: 35px;
   text-align: center;
   border-radius: 50px;
}
#no {
   width: 50px;
   margin-left: 10px;
}
button {
   height: 30px;
   margin-left: 10px;
}
