body {
    color: white ;
    background: #212121;
    font-family: Italiana;
    font-size: 20px;
}
hr {
    width: 50%;
}
.d2 {
    margin: 0 auto;
    width: 90%;
}
.d3 {
    line-height: 2.2;
    margin: 10px 10px;
}
.d4 {
    display: none;
    line-height: 2.0;
    margin: 10px 10px;
}
.d5, .d6 {
    line-height: 2.5;
    margin: 40px 5px;
}
.d6 {
    text-align: center;
}
.i1 {
    width: 60px;
    height: 60px;
    margin: -330px auto 0;
}
#txt, #no {
    color: White;
    background: Black;
    width: 180px;
    height: 35px;
    text-align: center;
    border-radius: 14px;
}
#no {
    width: 50px;
    margin-left: 10px;
}
button {
    height: 30px;
    width: 70px;
    margin-left: 27px;
    appearance: none;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 1px lightgrey solid;
}
button:active {
   transform: scale(0.9);
   transition: all 0.4s;
}
#frcst, #aqi, #alrt {
    margin: 19px 45px 0px 0px;
}
.head {
    margin: 20px auto;
    text-align: center;
    text-decoration: underline;
}
span {
    color: #0095ff;
    margin-left: 5px;
}
i {
    font-size: 25px;
    margin-left: 20px;
    animation: spin 6s infinite;
}
.light {
    color: black;
    background: #eff2f7; /*f5f5f5*/
}
.thm {
    position: absolute;
    top: 2%;
    right: 4%;
    color: white;
    font-size: 25px;
}

.spin {
   color: #0095ff;
   margin-left: 5px;
   animation: spin 9s linear infinite;
}
@-moz-keyframes spin {
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  to { transform: rotate(360deg); }
}
@keyframes spin1 {
  to { transform: rotate(360deg) scale(1.5); }
}

@font-face {
    font-family: 'Italiana';
    src: url('Italiana-Regular.woff');
}
